:root{
    --brand-color:#2E2F42;
    --accent-color:#4D5AE5;
    --contact-color:#434455;
    --white-color:#ffffff;
    --footer-color:#E7E9FC;
    --logo-color:#F4F4FD;
    --button-color:#404BBF;
}
body{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    
}

.list{
    list-style: none;
}
.link{
   text-decoration: none;
   color:var(--brand-color);

}
/*===============HEADER============*/


    /*===========logo========*/

.logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.34;
    /* identical to box height, or 133% */
    
    
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    /* IRIS */
    
    color: var(--brand-color);
}

.web{
    color:var(--accent-color);

}

.menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.contact-mail,
.contact-phone-number{

font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color:var(--contact-color);
}

.model-btn{
font-family: 'Roboto',sans-serif;
font-size: 16px;
line-height: 1.19;
font-weight: 500;
/* identical to box height */
letter-spacing: 0.04em;
cursor: pointer;

color:var(--white-color);
background-color: var(--accent-color);
}

.model-btn:hover{
    background-color:var(--button-color);
}

.model-btn:focus{
    background-color: var(--button-color);
}

.hero{
background-color: var(--brand-color)
}

.hero-title{
font-weight: 700;
font-size: 56px;
line-height:1.08 ;
text-align: center;
letter-spacing: 0.02em;

color:var(--white-color);
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.skills{
    font-size: 20px;
    line-height:1.19 ;
    letter-spacing: 0.02em;
    color:var(--brand-color) ;
    
}


.skills-item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-color);
}

.examples{

line-height: 1.12;
font-size: 36px;
letter-spacing: 0.02em;
color:var(--brand-color) ;
}

.team-group{
    background:var(--logo-color)
}

.team{
 line-height: 1.12;
 font-size: 36px;
 letter-spacing: 0.02em;
 color:var(--brand-color) ;
}

.team-item{
    background-color: var(--white-color);
}

.name{
    letter-spacing: 0.02em;
    font-size: 20px;
   line-height: 1.2;
   color:var(--brand-color) ;
   
}

.job-title{
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--contact-color);

}

.footer-text{
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
}

.second-btn{
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    
    /* IRIS */
    
    color: var(--accent-color);
    
}

.second-btn:hover{
background: var(--accent-color);
color: var(--white-color);
}

.second-btn:focus{
    background: var(--accent-color);
    color: var(--white-color);
    }

.contact-mail:hover{
    color: var(--accent-color);
}

.contact-mail:focus{
    color: var(--accent-color);
}

.contact-phone-number:hover{
    color: var(--accent-color);
}

.contact-phone-number:focus{
    color: var(--accent-color);
}

.menu-link:hover{
    color: var(--accent-color);
}

.menu-link:focus{
    color: var(--accent-color);
}  


.functions{
    font-size: 20px;
    line-height:1.19 ;
    letter-spacing: 0.02em;
    color:var(--brand-color) ;
}

.functions-items{
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--contact-color);
}

.footer{
    background-color:var(--brand-color);
}

.footer-text{
    color:var(--footer-color);
}

.logo-grey{
   color:var(--logo-color);
   font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.34x;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}